.buttonBox-calculator {
    width: 200px;
    height: calc(100%-110px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
    background-color: rgba(40,40,40,0.7);
    padding:20px;
    border-radius: 10px;
  }
  